.title {
  display : inline-block;
  width : 800px;
  height : 50px;
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}

.score {
  display : inline-block;
  width : 800px;
  height : 30px;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
}

.acc {
  display : inline-block;
  width : 800px;
  height : 50px;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
}